#wiki-markup-form {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-right: 10px;
}

#wiki-markup {
    width: 100%;
    height: 75%;
    overflow: auto;
}

#wiki-markup-form #page-title {
    width: 100%;
}